html, body, #root {
  position: relative;
  font-family: "PT Sans", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  font-family: "PT Sans", sans-serif;
  overflow: hidden;
}
