@font-face {
  font-family: 'DINPro';
  font-weight: normal;
  src: url("~@styles/fonts/DINPro-Regular.otf");
}

@font-face {
  font-family: 'DINPro';
  font-weight: bold;
  src: url("~@styles/fonts/DINPro-Bold.otf");
}

@font-face {
  font-family: 'DINPro';
  font-weight: 500;
  src: url("~@styles/fonts/DINPro-Medium.otf");
}

@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  src: url("~@styles/fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  src: url("~@styles/fonts/PT_Sans-Web-Bold.ttf");
}
