@import 'variables';

#{$PAPER_SELECTOR} {
  position: absolute;
  top: 0;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;

  // TODO customize scrollbar for paper
  ::-webkit-scrollbar {
    background: #fff;
    width: 8px;
    height: 8px;
  }


  ::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
  }
}

.joint-paper-scroller {
  overflow: hidden !important;
}
