@import '../variables';
@import '~@styles/media.scss';


.ant-layout {
  height: 100%;
  min-height: 100%;
}

.ant-layout-sider {
  position: absolute;
  top: 0;
  background-color: $sidebar-background;
  color: $sidebar-color;
  transition: 0.4s;
  transform: translate3d(0, 0, 0);
  @include _650{
    top: 100vh;
  }
}